target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.mvn/
/customer-service/.mvn/
/flight-booking/kbms/src/generated-sources/
/**/*/generated-sources/
flight-booking/kbms/mvnw
hateoas/mvnw
notification-service/mvnw
