[project]
	description = Microservices Sandbox
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Hasan Çomak (entrofi)
[access "refs/for/refs/*"]
	read = group user/Hasan Çomak (entrofi)
	push = group user/Hasan Çomak (entrofi)
	label-Code-Review = -2..+2 group user/Hasan Çomak (entrofi)
	label-Verified = -1..+1 group user/Hasan Çomak (entrofi)
	rebase = group user/Hasan Çomak (entrofi)
	removeReviewer = group user/Hasan Çomak (entrofi)
	submit = group user/Hasan Çomak (entrofi)
[access "refs/heads/*"]
	read = group user/Hasan Çomak (entrofi)
	create = group user/Hasan Çomak (entrofi)
	push = +force group user/Hasan Çomak (entrofi)
	pushMerge = group user/Hasan Çomak (entrofi)
[access "refs/tags/*"]
	push = group user/Hasan Çomak (entrofi)
	push = +force group user/Hasan Çomak (entrofi)
