<!DOCTYPE html>
<html xmlns:th="http://thymealeaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TK Airlines</title>

    <div th:replace="fragments/header :: header-include"/>
    <script src="/js/app/search-flight.js" type="text/javascript"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!--Page content container -->
    <div class="container">
        <form class="form-inline" id="flight-booking-form"
              name="flight-search-form" method="post"
              th:action="@{/flights/book}" th:object="${flight}">
            <div class="well">
                <div class="row">
                    <div class="col-md-6 form-group" id="flight-search-date-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" placeholder="Your flight date" th:field="*{date}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- @End page content container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>